<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
	title Monk Seed
	//bower:css
	//endinject
	//build:cssBundle
	//endbuild
body(ng-app="monk-seed", ng-strict-di)
	ui-view
	//bower:js
	//endinject
	//build:templateCache
	//endbuild
	//build:jsBundle
	//endbuild